<div class='panel panel-default'>
  <div class="panel-heading"><h1 class='text-center'><%= @planet.name %></h1></div>
  <table class='table table-bordered'>
    <tr>
      <th>Rotation Period:</th>
      <td><%=@planet.rotation_period%></td>
    </tr>
    <tr>
      <th>Orbital Period:</th>
      <td><%= @planet.orbital_period %>kg</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td><%= @planet.diameter %></td>
    </tr>
    <tr>
      <th>Climate: </th>
      <td><%= @planet.climate %></td>
    </tr>
    <tr>
      <th>Gravity:</th>
      <td><%= @planet.gravity %></td>
    </tr>
    <tr>
      <th>Terrain:</th>
      <td><%= @planet.terrain %></td>
    </tr>
    <tr>
      <th>Surface Water:</th>
      <td><%= @planet.surface_water %></td>
    </tr>
    <tr>
      <th>Population:</th>
      <td><%= @planet.population %></td>
    </tr>
  </table>
</div>
<hr>
<div class="row">
  <div class='col-md-4'>
    <div class='list-group'>
      <a href='#' class='list-group-item disabled'><h2>Characters</h2></a>
      <% if !@planet.characters.empty? %>
      <% @planet.characters.each do |c| %>
      <a class="list-group-item" href="/characters/<%=c.id%>"><%=c.name%></a>
      <%end%>
      <% else %>
      <a href='#' class="list-group-item">No Characters</a>
      <% end %>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='list-group'>
      <a href='#' class='list-group-item disabled'><h2>Species</h2></a>
      <% if !@planet.species.empty? %>
      <% @planet.species.uniq.each do |s| %>
      <a class='list-group-item' href="/species/<%=s.id%>"><%=s.name%></a>
      <%end%>
      <% else %>
      <a class='list-group-item'>No Species</a>
      <% end %>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='list-group'>
      <a class='list-group-item disabled' href='#'><h2>Films</h2></a>
      <% @planet.films.each do |f| %>
      <a class='list-group-item' href="/films/<%=f.id%>"><%=f.title%></a>
      <%end%>
    </div>
  </div>
</div> <!-- row -->
