<!DOCTYPE html>
<html>
<head>
  <title>SWAPI on Rails</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <a href='/' class="nav-link"><div class="navbar-brand">SWAPI on Rails</div></a>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/films">Films</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/species">Species</a></li>
            <li><a href="/planets">Planets</a></li>
            <li><a href="/starships">Starships</a></li>
            <li><a href="/vehicles">Vehicles</a></li>
          </ul><!--dropdown menu-->
        </li><!--dropdown-->
      </ul> <!--nav -->
    </div> <!-- container fluid -->
  </nav> <!--nav navdef -->






  <div class="container">
    <%= yield %>
  </div>


  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">

        <div class="pull-right">
          <p class="navbar-text">Created by Robert Hopkins</p>
          <div class='navbar-header' style="margin-top: -8px; height: 35px;">
            <a class='navbar-brand' style='height: 35px;' href='http://medium.com/@rhoprhh'><img src='http://i.imgur.com/Sdk6ca8.png'></a>
            <a class='navbar-brand' href='http://github.com/rhoprhh'><img src='http://i.imgur.com/96AqoqO.png'></a>
            <a class='navbar-brand' href='http://linkedin.com/in/roberthhopkins'><img src='http://i.imgur.com/4D3bOLS.png'></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>




</body>
</html>
