<div class='panel panel-default'>
  <div class="panel-heading"><h1 class='text-center'><%= @specie.name %></h1></div>
  <table class='table table-bordered'>
    <tr>
      <th>Name:</th>
      <td><%=@specie.name%></td>
    </tr>
    <tr>
      <th>Classification:</th>
      <td><%= @specie.classification %></td>
    </tr>
    <tr>
      <th>Designation:</th>
      <td><%= @specie.designation %></td>
    </tr>
    <tr>
      <th>Average Height:</th>
      <td><%= @specie.average_height %> cm</td>
    </tr>
    <tr>
      <th>Skin_colors:</th>
      <td><%= @specie.skin_colors %></td>
    </tr>
    <tr>
      <th>Hair Colors:</th>
      <td><%= @specie.hair_colors %></td>
    </tr>
    <tr>
      <th>Eye Colors:</th>
      <td><%= @specie.eye_colors %></td>
    </tr>
    <tr>
      <th>Average Lifespan:</th>
      <td><%= @specie.average_lifespan %></td>
    </tr>
    <tr>
      <th>Language:</th>
      <td><%= @specie.language %></td>
    </tr>
  </table>
</div>
<hr>
<div class="row">
  <div class='col-md-6'>
    <div class='list-group'>
      <a href='#' class='list-group-item disabled'><h2>Characters</h2></a>
      <% if !@specie.characters.empty? %>
      <% @specie.characters.each do |c| %>
      <a class="list-group-item" href="/characters/<%=c.id%>"><%=c.name%></a>
      <%end%>
      <% else %>
      <a href='#' class="list-group-item">No Characters</a>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='list-group'>
      <a href='#' class='list-group-item disabled'><h2>Planets/Home Worlds</h2></a>
      <% if !@specie.planets.empty? %>
      <% @specie.planets.uniq.each do |p| %>
      <a class='list-group-item' href="/planets/<%=p.id%>"><%=p.name%></a>
      <%end%>
      <% else %>
      <a class='list-group-item'>No Planets</a>
      <% end %>
    </div>
  </div>

</div> <!-- row -->
<center>
  <a href='/species'><button class='btn btn-default'>Back to Species</button></a>
</center>
