<div class='jumbotron'><h1 class='text-center'> Starships </h1></div>
<div class='list-group'>
  <div class='col-md-4'>
    <% count = 0 %>
    <% @vehicles.all.each do |v|%>
      <% if count < 13  %>
        <a class='list-group-item' href="/vehicles/<%=v.id%>"><%= v.name %></a>
      <%end%>
      <% count += 1 %>
    <%end%>
  </div>
  <div class='col-md-4'>
    <% count = 0 %>
    <% @vehicles.all.each do |v|%>
      <% if count > 12 && count < 26  %>
        <a class='list-group-item' href="/vehicles/<%=v.id%>"><%= v.name %></a>
      <%end%>
      <% count += 1 %>
    <%end%>
  </div>
  <div class='col-md-4'>
    <% count = 0 %>
    <% @vehicles.all.each do |v|%>
      <% if count > 25  %>
        <a class='list-group-item' href="/vehicles/<%=v.id%>"><%= v.name %></a>
      <%end%>
      <% count += 1 %>
    <%end%>
</div>
